<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.travel" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="edu.gatech.travel.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.travel.UploadActivity"
            android:label="@string/title_activity_upload" >
        </activity>
        <activity
            android:name="edu.gatech.travel.SelectList"
            android:label="@string/title_activity_select_list" >
        </activity>
        <activity
            android:name="edu.gatech.travel.AchievementList"
            android:label="@string/title_activity_achievement_list" >
        </activity>
        <activity
            android:name="edu.gatech.travel.ViewListActivity"
            android:label="@string/title_activity_view_list" >
        </activity>
        <activity
            android:name="edu.gatech.travel.ViewIndividualList"
            android:label="@string/title_activity_view_individual_list" >
        </activity>
        <activity
            android:name="edu.gatech.travel.CompleteAchievement"
            android:label="@string/title_activity_complete_achievement" >
        </activity>
        <activity
            android:name="edu.gatech.travel.ViewIndividualAchievement"
            android:label="@string/title_activity_view_individual_achievement" >
        </activity>
        <activity
            android:name="edu.gatech.travel.AddNewAchievement"
            android:label="@string/title_activity_add_new_achievement" >
        </activity>
    </application>

</manifest>
